// .container-part-1 {
//   width: 100vw;
//   height: 100vh;
// }
.part-1-galaxy {
  position: relative;
  overflow: hidden;
}

.part-1-img {
  position: absolute;
  top: 45%;
  left: 51%;
  width: 3%;
  height: 4%;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transition: 0.8s;
}

.part-1-img:hover {
  transform: scale(2);
}

p:hover {
  opacity: 1;
}
