// .container-part-1 {
//   width: 100vw;
//   height: 100vh;
// }
.part-1-galaxy {
  position: relative;
  overflow: hidden;
}

.part-1-img {
  position: absolute;
  top: 45%;
  left: 51%;
  width: 3%;
  height: 4%;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transition: 0.8s;
}

.part-1-img:hover {
  transform: scale(2);
}

p {
  color: var(--yellow, #dadc7b);
  font-family: "arial";
  font-size: 40.78px;
  font-weight: 900;
  opacity: 0;
  transition: opacity 5s ease;
}

p:hover {
  opacity: 1;
}
